<div class="jumbotron">

<h1>{{vm.title}} - HTML5, Angularjs1.x, Bootstrap boilerplate</h1>
    <a class="btn btn-primary btn-lg" href="404.html" role="button">Learn more</a></p>
</div>

<button class="btn btn-primary btn-lg" role="button" ng-click="vm.appendRow()">Add Row</button></p>
<button class="btn btn-primary btn-lg" role="button" ng-click="vm.updateExistingRow()">Update one existing row</button></p>

<div class="row">
    <div ag-grid="vm.gridOptions" class="ag-fresh" style="height: 800px"></div>
</div>
