<!--<div class="jumbotron">
    <h1>下單列</h1>
</div>-->
<!--<hr/>
<img src="content/assets/004.png" alt="Mountain View" style="width:100%;height:96px;">-->
<div style="background-color: pink;">
<h3>下單</h3>

  <form name="form" method="" action="" novalidate>
    <div class="col-xs-2 pull-left">
    <label for="name">股票</label>
    <input id="name" name="name" type="text" ng-model="user.name">
    </div>
    <div class="col-xs-2 pull-left">
    <label for="email">價格</label>
    <input id="email" name="email" type="email" ng-model="user.email">
    </div>
    <br>
    
    <input type="submit" value="送出">
    
  </form>
</div>